*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 750px;
    /* border: 1px solid red; */
}

#timer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

#timer>.display{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 100%;
    height: 150px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#timer>.BTN{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: whitesmoke;
}

#timer>.BTN>button{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 30%;
    height: 50px;
}

#timer>.display>input{
    display: none;
    width: 30%;
    height: 50px;
    font-size: 17px;
}